@import '../gal-ui';

body {
  font-family: sans-serif;
  margin: 0;
}
header {
  background-color: #eee;
}
.vessel {
  max-width: 40em;
  margin: 0 auto;
  padding: 1em 0;
}
#hb {
  font-size: 1.2em;
}
#hb span {
  color: #808080;
}
#hb b {
  color: #444;
  cursor: pointer;
}
#hb.done b {
  color: #808080;
  cursor: auto;
  font-weight: normal;
}
#hb b.s {
  color: #444;
  cursor: auto;
  font-weight: bold;
}
form {
  display: none;
  margin-top: 1em;
}
.v {
  display: block;
}
main {
  text-align: center;
}
