* {
  box-sizing: border-box;
}
#gal {
  padding: 1em;
  margin: 0;
  list-style-type: none;
}
#gal li {
  height: 100vh;
  margin: 4em 0;
  padding: 5px 0 1px;
}
#gal img,
#gal video {
  display: block;
  max-width: 100%;
  height: calc(100% - 2rem);
  margin: 0 auto;
  font-size: 3em;
  object-fit: contain;
  color: #ccc;
}
#gal a {
  display: block;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-decoration: none;
  color: #ccc;
}
#gal a:hover {
  color: #808080;
  text-decoration: underline;
}
#move,
#light {
  position: fixed;
  margin: 0;
  font-size: 1.4em;
  color: #888;
  user-select: none;
}
#move {
  width: 5em;
  padding: 0;
  bottom: 0;
  left: 0;
  list-style-type: none;
}
#move li {
  float: left;
  width: 2.75em;
  height: 2em;
  line-height: 2em;
  cursor: pointer;
}
#move li:hover {
  color: #444;
}
#up,
#down {
  text-indent: .5em;
}
#down {
  clear: left;
}
#move #zoom {
  width: 2em;
  text-indent: -.5em;
}
#light {
  padding: .5em .7em;
  top: 0;
  right: 0;
  cursor: pointer;
}
#more {
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #eee;
  color: #888;
  cursor: pointer;
}
#more:hover {
  background-color: #ddd;
  color: #777;
}
